.DS_Store

application/session/*

application/cache/*
!application/cache/index.html

application/config/ftps_local.php
application/config/parse_local.php
application/config/onefile_local.php
application/config/mailgun_local.php
application/config/*_local.php

application/logs/*
!application/logs/index.html

application/tmp/*
!application/tmp/index.html

!application/*/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

node_modules/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
